.container-1,.container-2,.container-3,.container-4{
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
    width: 75%;
}
.flex-box-container-1, .flex-box-container-2,.flex-box-rps,.flex-box-pick-color{
    display: flex;
    border-top: 1px solid black;
    border-bottom:  1px solid black;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row ;
    justify-content: space-around;

}
.flex-box-container-1 div {
    display: flex;
    padding: 10px;    
    border: 1px solid black;
    align-items: center;   

}
/* chanllange 2 */
.flex-box-container-2 img{
    margin: 10px;
    box-shadow: 0px 10px 50px rgba(0, 0 ,0 ,0.5);
}
.flex-box-rps img:hover{
    border-radius: 5%;
    /* box-shadow: 0px 10px 50px rgba(0, 0 ,0 ,0.5); */
    filter: drop-shadow(0.35rem 0.35rem 0.4rem  rgba(0, 0 ,0 ,0.5) );
    cursor: pointer;    
}